body {
	margin: 0;
	background: #fff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #5b6f82;
	font-size: 1rem;
}

body.is-boxed {
	background: white
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

button,
input {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth
}

*,
*:before,
*:after {
	box-sizing: inherit
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #f6f8fa
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #f6f8fa;
	border-radius: 8px
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-image: -webkit-gradient(linear, 40% 0%, 85% 84%, from(#92a2b1), to(#5b6f82))
}

::-webkit-scrollbar-thumb:hover {
	background-image: -webkit-gradient(linear, 40% 0%, 85% 84%, from(#8395a6), to(#516273))
}

html {
	font-size: 18px;
	line-height: 27px
}

@media (min-width: 641px) {
	html {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -0.1px
	}
}

body,
button,
input {
	font-family: "Inter", sans-serif
}

a {
	color: inherit;
	text-decoration: none
}

a:hover,
a:active {
	outline: 0;
	text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	clear: both;
	color: #202b36;
	font-family: "Chewy", sans-serif;
	font-weight: 500
}

h1,
.h1 {
	font-size: 36px;
	line-height: 46px;
	letter-spacing: -0.2px
}

@media (min-width: 641px) {
	h1,
	.h1 {
		font-size: 42px;
		line-height: 52px;
		letter-spacing: -0.1px
	}
}

h2,
.h2 {
	font-size: 30px;
	line-height: 40px;
	letter-spacing: -0.1px
}

@media (min-width: 641px) {
	h2,
	.h2 {
		font-size: 36px;
		line-height: 46px;
		letter-spacing: -0.2px
	}
}

h3,
.h3 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.1px
}

@media (min-width: 641px) {
	h3,
	.h3 {
		font-size: 30px;
		line-height: 40px;
		letter-spacing: -0.1px
	}
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.1px
}

@media (min-width: 641px) {
	h4,
	h5,
	h6,
	.h4,
	.h5,
	.h6 {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -0.1px
	}
}

h1,
h2,
.h1,
.h2 {
	margin-top: 48px;
	margin-bottom: 16px
}

h3,
.h3 {
	margin-top: 36px;
	margin-bottom: 12px
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	margin-top: 24px;
	margin-bottom: 4px
}

p {
	margin-top: 0;
	margin-bottom: 24px
}

button,
input,
label {
	font-size: 18px;
	line-height: 27px
}

.container,
.container-sm {
	width: 100%;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px
}

@media (min-width: 481px) {
	.container,
	.container-sm {
		padding-left: 24px;
		padding-right: 24px
	}
}

.container {
	max-width: 1128px
}

.container-sm {
	max-width: 848px
}

.container .container-sm {
	max-width: 800px;
	padding-left: 0;
	padding-right: 0
}

.text-center {
	text-align: center
}

.sr .has-animations .is-revealing {
	visibility: hidden
}

.input {
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #e3e7eb;
	color: #5b6f82;
	max-width: 100%;
	width: 100%;
}

.control {
    position: relative;
    background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #e3e7eb;
	color: #5b6f82;
    min-height: 2.5rem;
}

.control .label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.input::-moz-placeholder {
	color: #92a2b1
}

.input:-ms-input-placeholder {
	color: #92a2b1
}

.input::placeholder {
	color: #92a2b1
}

.input::-ms-input-placeholder {
	color: #92a2b1
}

.input:-ms-input-placeholder {
	color: #92a2b1
}

.input:hover {
	border-color: #d4dae0
}

.input:active,
.input:focus {
	outline: none;
	border-color: #4992f0
}

.input[disabled] {
	cursor: not-allowed;
	background-color: #f6f8fa;
	border-color: #f6f8fa
}

.input {
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: 16px;
	letter-spacing: -0.1px;
	line-height: 20px;
	border-radius: 2px;
	padding: 13px 16px;
	height: 48px;
	box-shadow: none
}

.input .inline-input {
	display: inline;
	width: auto
}

.field-grouped>.control:not(:last-child) {
	margin-bottom: 8px
}

@media (min-width: 641px) {
	.field-grouped {
		display: flex
	}
	.field-grouped>.control {
		flex-shrink: 0
	}
	.field-grouped>.control.control-expanded {
		flex-grow: 1;
		flex-shrink: 1
	}
	.field-grouped>.control:not(:last-child) {
		margin-bottom: 0;
		margin-right: 8px
	}
}

.button {
	display: inline-flex;
	font-size: 13px;
	letter-spacing: 0px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none !important;
	background-color: #fff;
	color: #4992f0 !important;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	justify-content: center;
	padding: 16px 32px;
	height: 48px;
	text-align: center;
	white-space: nowrap
}

.button:active {
	outline: 0
}

.button::before {
	border-radius: 2px
}

.button-shadow {
	position: relative
}

.button-shadow::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 8px 24px rgba(32, 43, 54, 0.12);
	mix-blend-mode: multiply;
	transition: box-shadow .15s ease
}

.button-shadow:hover::before {
	box-shadow: 0 8px 24px rgba(32, 43, 54, 0.25)
}

.button {
	color: #fff !important;
	transition: background .15s ease
}

.button-primary {
	background: #2e83ef;
	background: linear-gradient(65deg, #1274ed 0, #4992f0 100%)
}

.button-primary:hover {
	background: #3386ef;
	background: linear-gradient(65deg, #1777ed 0, #4e95f0 100%)
}

.button-block {
	display: flex
}

.advent {
	padding-top: 20px;
	margin-top: -20px
}

.advent .section-title::after {
	background-color: #ff6d8b
}

.advent .advent-input.input-form {
    max-width: 475px;
    margin: 0 auto;
    margin-top: 60px;
}

.advent .advent-input.input-form input[type="file"] { 
    display: none;
}

.advent-wrap {
	position: relative;
	z-index: 100
}

.timeline-item {
	position: relative;
	width: 50%;
	height: 61px
}

.timeline-item:not(:last-of-type) {
	margin-bottom: 77px
}

.timeline-item::before {
	content: '';
	position: absolute;
	right: -7px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #5b6f82
}

.timeline-item:not(:last-of-type)::after {
	content: '';
	position: absolute;
	top: 17px;
	right: -3px;
	width: 5px;
	height: 117px;
	background: #e7ebf6
}

.timeline-item-inner {
	display: block;
	width: 61px;
	height: 61px;
	background-color: white;
	border-radius: 60px;
	text-decoration: none;
	position: relative;
	top: -30px;
	right: 20px;
	box-shadow: 0 7.2619px 14.5238px rgba(0, 0, 0, 0.04), 0 1.45238px 4.35714px rgba(0, 0, 0, 0.04), 0 0 0.72619px rgba(0, 0, 0, 0.04);
	transition: width 200ms ease-in-out;
    font-size: 1rem;
    color: #5b6f82;
    border: none;
    cursor: pointer;
}

.timeline-item-inner:hover {
	width: 350px;
	border: 2px solid #e2e8f3
}

.timeline-item-inner:hover.purple .timeline-item-text {
	color: #838dea
}

.timeline-item-inner:hover.green .timeline-item-text {
	color: #7ce8dd
}

.timeline-item-inner:hover.blue .timeline-item-text {
	color: #4992f0
}

.timeline-item-inner:hover.pink .timeline-item-text {
	color: #ff6d8b
}

.timeline-item-icon img,
.timeline-item-icon i,
.timeline-item-icon span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.timeline-item-icon span {
    font-size: 30px;
    font-weight: 500;
}

.timeline-item-icon img {
	right: 6px
}

.timeline-item-icon i {
	right: 0
}

.timeline-item-icon i {
	font-size: 30px
}

.timeline-item-inner.purple>.timeline-item-icon {
	color: #838dea
}

.timeline-item-inner.green>.timeline-item-icon {
	color: #7ce8dd
}

.timeline-item-inner.blue>.timeline-item-icon {
	color: #4992f0
}

.timeline-item-inner.pink>.timeline-item-icon {
	color: #ff6d8b
}

.timeline-item-text {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 500
}

.timeline-item:nth-of-type(odd) {
	left: 50%
}

.timeline-item:nth-of-type(odd)::before {
	left: -6px
}

.timeline-item:nth-of-type(odd)::after {
	right: 0;
	left: -2px
}

.timeline-item:nth-of-type(odd) .timeline-item-inner {
	right: 0;
	left: 20px
}

.timeline-item:nth-of-type(odd) .timeline-item-icon img,
.timeline-item:nth-of-type(odd) .timeline-item-icon i,
.timeline-item:nth-of-type(odd) .timeline-item-icon span {
	left: 18px;
}

.timeline-item:nth-of-type(odd) .timeline-item-icon span {
	left: 15px;
}

.timeline-item:nth-of-type(1) .timeline-item-icon span,
.timeline-item:nth-of-type(3) .timeline-item-icon span,
.timeline-item:nth-of-type(5) .timeline-item-icon span,
.timeline-item:nth-of-type(7) .timeline-item-icon span,
.timeline-item:nth-of-type(9) .timeline-item-icon span {
	left: 22px;
}

.timeline-item:nth-of-type(even) .timeline-item-icon img,
.timeline-item:nth-of-type(even) .timeline-item-icon i,
.timeline-item:nth-of-type(even) .timeline-item-icon span {
	right: 18px;
}

.timeline-item:nth-of-type(even) .timeline-item-icon span {
	right: 15px;
}

.timeline-item:nth-of-type(2) .timeline-item-icon span,
.timeline-item:nth-of-type(4) .timeline-item-icon span,
.timeline-item:nth-of-type(6) .timeline-item-icon span,
.timeline-item:nth-of-type(8) .timeline-item-icon span {
	right: 22px;
}

.timeline-item:nth-of-type(odd) .timeline-item-text {
	left: 70px
}

.timeline-item:nth-of-type(even) .timeline-item-inner {
	float: right
}

.timeline-item:nth-of-type(even) .timeline-item-text {
	right: 70px
}

.repository i {
	position: relative;
	margin-right: .5rem;
	font-size: 1.2rem
}

.repository:hover i {
	color: #465564
}

@media (max-width: 639px) {
	.timeline {
		margin-left: 1rem
	}
	.timeline-item {
		left: 0 !important
	}
	.timeline-item::before {
		left: -6px
	}
	.timeline-item::after {
		right: 0;
		left: -2px
	}
	.timeline-item .timeline-item-inner {
		right: 0;
		left: 20px;
		float: left !important
	}
	.timeline-item .timeline-item-icon img,
	.timeline-item .timeline-item-icon i {
		right: 0;
		left: 30px
	}
	.timeline-item .timeline-item-text {
		right: 0;
		left: 70px
	}
}

@media (max-width: 479px) {
	.timeline {
		margin-left: .5rem
	}
}

.is-boxed {
	background: #f6f8fa
}

.body-wrap {
	position: relative;
	background: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	z-index: 0;
}

.boxed-container {
	max-width: 1440px;
	margin: 0 auto
}

.boxed-container:not(.body-wrap) {
	box-shadow: 0 16px 48px #e3e7eb
}

@supports (-ms-ime-align: auto) {
	.boxed-container:not(.body-wrap) {
		box-shadow: 0 16px 48px rgba(32, 43, 54, 0.12)
	}
}

main {
	flex: 1 0 auto
}

.section-inner {
	position: relative;
	padding-top: 48px;
	padding-bottom: 48px
}

.section-title {
	position: relative;
	margin-top: 70px
}

.section-title::after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	height: 8px;
	width: 120px;
	border-radius: 4px
}

.section-subtitle {
	max-width: 600px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 35px
}

@media (min-width: 641px) {
	.is-boxed::before {
		top: -5%;
		left: 20%;
		width: 80%;
		height: 651px;
		background-size: 1480px 651px
	}
	.section-inner {
		padding-top: 80px;
		padding-bottom: 80px
	}
}

footer {
	position: fixed;
	background-color: white;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	box-shadow: 0 16px 48px #e3e7eb;
	z-index: 10;
}

.advent-years .row {
	column-count: 3;
	column-gap: 50px;
	margin-bottom: 30px;
}

.advent-years-item {
	width: 100%;
	display: block;
}

@media (max-width: 425px) {
    .advent-years .row {
		column-gap: 20px;
	}
}

@media (max-width: 639px) {
    .advent-years .row {
		column-gap: 30px;
	}
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.alert {
    display: none;
    width: 400px;
    margin: 20px;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: .85rem;
}

.alert:hover {
    opacity: .8;
}

.alert-text {
    margin-bottom: 0;
}

.alert-success {
    background: #7ce8dd;
    background: linear-gradient(65deg, #32e2d1 0, #7ce8dd 100%);
}

.alert-error {
    background: #ff6d8b;
    background: linear-gradient(65deg, #ff4369 0, #ff6d8b 100%);
}

@media (max-width: 640px) {
    .alert {
        width: calc(100% - 40px);
    }
}

.home-icon {
	position: absolute;
	top: 32px;
	right: 50px;
	font-size: 25px;
	cursor: pointer;
	transition: all .15s ease;
}

.home-icon:hover {
	transform: scale(1.1);
}

@media (max-width: 640px) {
    .home-icon {
		top: 25px;
		right: 25px;
		font-size: 23px;
	}
}